In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Loading Data

In [2]:
Movies = pd.read_csv(r"C:\Users\amazi\Downloads\tmdb_5000_movies.csv\\tmdb_5000_movies.csv")
Credits = pd.read_csv(r"C:\Users\amazi\Downloads\tmdb_5000_credits.csv\\tmdb_5000_credits.csv")

In [3]:
Movies.head(5)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bondâ€™s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124

In [4]:
Movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [5]:
Credits.head(5)

,movie_id,title,cast,crew
0,19995,Avatar,"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [6]:
Credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

## Merging Dataframes

Merging bith movies and credits dataframe

In [7]:
Movies = Movies.merge(Credits, on = 'title')

In [9]:
Movies.shape

(4809, 23)

## Data Pre-Processing

Important columns to be used in recommendation system :
* genres
* id
* ketword
* tit;e
* overview
* cast
* crew

In [10]:
Movies = Movies[['movie_id','title','overview','genres','cast','keywords','crew']]

In [11]:
Movies.head(5) #merged dataframe

,movie_id,title,overview,genres,cast,keywords,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...","[{""cast_id"": 4, ""character"": ""Captain Jack Spa...","[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...","[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...","[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...","[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...","[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...","[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""cast_id"": 5, ""character"": ""John Carter"", ""c...","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

In [12]:
Movies.isnull().sum() #looking for missing values

movie_id    0
title       0
overview    3
genres      0
cast        0
keywords    0
crew        0
dtype: int64

In [13]:
Movies.duplicated().sum() #looking for duplicate values

0

In [14]:
import ast

## Genre Extraction Function

In [15]:
# Genre Extraction function : from raw data for the creation of tags
def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
        return L

In [16]:
Movies['genres'] = Movies['genres'].apply(convert)

In [17]:
Movies['keywords'] = Movies['keywords'].apply(convert)

In [18]:
Movies.head(5)

,movie_id,title,overview,genres,cast,keywords,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],"[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...",[culture clash],"[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],"[{""cast_id"": 4, ""character"": ""Captain Jack Spa...",[ocean],"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,[Action],"[{""cast_id"": 1, ""character"": ""James Bond"", ""cr...",[spy],"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],"[{""cast_id"": 2, ""character"": ""Bruce Wayne / Ba...",[dc comics],"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],"[{""cast_id"": 5, ""character"": ""John Carter"", ""c...",[based on novel],"[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

Successfully extracted genres and keywords from the raw data

## Actor Name Extraction Function

#### In this work, only top (first) 3 actors (which are lead in any movie) are being used to create tags

In [19]:
#function for extracting top(first) 3 actors from the movie 

def convert3(obj):
    L = []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter !=3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return L

In [20]:
Movies['cast'] = Movies['cast'].apply(convert3)

In [21]:
Movies.head(5)

,movie_id,title,overview,genres,cast,keywords,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[culture clash],"[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],"[Johnny Depp, Orlando Bloom, Keira Knightley]",[ocean],"[{""credit_id"": ""52fe4232c3a36847f800b579"", ""de..."
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,[Action],"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[spy],"[{""credit_id"": ""54805967c3a36829b5002c41"", ""de..."
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],"[Christian Bale, Michael Caine, Gary Oldman]",[dc comics],"[{""credit_id"": ""52fe4781c3a36847f81398c3"", ""de..."
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[based on novel],"[{""credit_id"": ""52fe479ac3a36847f813eaa3"", ""de..."

#### Successfully extracted first 3 actors from the 'cast' column

## Director Name Extraction Function

In [22]:
#function to fetch the director of movie from the crew column
def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [23]:
Movies['crew'] = Movies['crew'].apply(fetch_director)

In [24]:
Movies.head(5)

,movie_id,title,overview,genres,cast,keywords,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",[Action],"[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[culture clash],[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",[Adventure],"[Johnny Depp, Orlando Bloom, Keira Knightley]",[ocean],[Gore Verbinski]
2,206647,Spectre,A cryptic message from Bondâ€™s past sends him o...,[Action],"[Daniel Craig, Christoph Waltz, LÃ©a Seydoux]",[spy],[Sam Mendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,[Action],"[Christian Bale, Michael Caine, Gary Oldman]",[dc comics],[Christopher Nolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...",[Action],"[Taylor Kitsch, Lynn Collins, Samantha Morton]",[based on novel],[Andrew Stanton]

#### Successfully extracted the director from the 'crew' column

## Pre-Processing the overview column

In [55]:
Movies['overview'] = Movies['overview'].astype(str)

In [56]:
Movies['overview'] = Movies['overview'].apply(lambda x:x.split())

In [57]:
def get_data():
    # Simulating a function that may return None under certain conditions
    return None

# Get data from the function
data = get_data()

# Check if the data is None before iterating over it
if data is not None:
    try:
        # Iterate over the data if it's not None
        for item in data:
            # Process each item in the data
            print(item)
    except TypeError:
        print("Data is not iterable.")
else:
    print("Data is None, unable to iterate.")

Data is None, unable to iterate.

In [62]:
# Example variable that may be set to None
data = None

# Check if the variable is not None before iterating
if data is not None:
    # Iterate over the variable if it's not None
    for item in data:
        # Process each item in the variable
        print(item)
else:
    print("Variable is None, unable to iterate.")

Variable is None, unable to iterate.

In [63]:
# Function to remove spaces from strings in a list
def remove_spaces(lst):
    if lst is not None:
        return [i.replace(" ", "") if isinstance(i, str) else i for i in lst]
    else:
        return None

# Replace spaces in strings for all elements in the 'genres' Series
Movies['genres'] = Movies['genres'].apply(remove_spaces)

# Replace spaces in strings for all elements in the 'keywords' Series
Movies['keywords'] = Movies['keywords'].apply(remove_spaces)

# Replace spaces in strings for all elements in the 'cast' Series
Movies['cast'] = Movies['cast'].apply(remove_spaces)

# Replace spaces in strings for all elements in the 'crew' Series
Movies['crew'] = Movies['crew'].apply(remove_spaces)

In [64]:
Movies.head()

,movie_id,title,overview,genres,cast,keywords,crew
0,19995,Avatar,"[['In',, 'the',, '22nd',, 'century,',, 'a',, '...",[Action],"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[cultureclash],[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"[['Captain',, 'Barbossa,',, 'long',, 'believed...",[Adventure],"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[ocean],[GoreVerbinski]
2,206647,Spectre,"[['A',, 'cryptic',, 'message',, 'from',, 'Bond...",[Action],"[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[spy],[SamMendes]
3,49026,The Dark Knight Rises,"[['Following',, 'the',, 'death',, 'of',, 'Dist...",[Action],"[ChristianBale, MichaelCaine, GaryOldman]",[dccomics],[ChristopherNolan]
4,49529,John Carter,"[['John',, 'Carter',, 'is',, 'a',, 'war-weary,...",[Action],"[TaylorKitsch, LynnCollins, SamanthaMorton]",[basedonnovel],[AndrewStanton]

### Tags Column

##### The tags column is the combination of the following columns : title + overview + genres + cast + keywords + crew (director)

In [65]:
Movies['tags'] = Movies['overview'] + Movies['genres'] + Movies['keywords'] + Movies['cast'] + Movies['crew']

In [66]:
Movies.head()

,movie_id,title,overview,genres,cast,keywords,crew,tags
0,19995,Avatar,"[['In',, 'the',, '22nd',, 'century,',, 'a',, '...",[Action],"[SamWorthington, ZoeSaldana, SigourneyWeaver]",[cultureclash],[JamesCameron],"[['In',, 'the',, '22nd',, 'century,',, 'a',, '..."
1,285,Pirates of the Caribbean: At World's End,"[['Captain',, 'Barbossa,',, 'long',, 'believed...",[Adventure],"[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[ocean],[GoreVerbinski],"[['Captain',, 'Barbossa,',, 'long',, 'believed..."
2,206647,Spectre,"[['A',, 'cryptic',, 'message',, 'from',, 'Bond...",[Action],"[DanielCraig, ChristophWaltz, LÃ©aSeydoux]",[spy],[SamMendes],"[['A',, 'cryptic',, 'message',, 'from',, 'Bond..."
3,49026,The Dark Knight Rises,"[['Following',, 'the',, 'death',, 'of',, 'Dist...",[Action],"[ChristianBale, MichaelCaine, GaryOldman]",[dccomics],[ChristopherNolan],"[['Following',, 'the',, 'death',, 'of',, 'Dist..."
4,49529,John Carter,"[['John',, 'Carter',, 'is',, 'a',, 'war-weary,...",[Action],"[TaylorKitsch, LynnCollins, SamanthaMorton]",[basedonnovel],[AndrewStanton],"[['John',, 'Carter',, 'is',, 'a',, 'war-weary,..."

### New Dataframe to be used

##### The new dataframe will contain : movie_id + title + tags columns

In [68]:
new_df = Movies[['movie_id','title','tags']]

In [70]:
# Check if each element in the 'tags' column is iterable before joining
new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x) if isinstance(x, (list, tuple)) else x)

C:\Users\amazi\AppData\Local\Temp\ipykernel_5372\1733704847.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: " ".join(x) if isinstance(x, (list, tuple)) else x)

In [71]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"['In', 'the', '22nd', 'century,', 'a', 'parapl..."
1,285,Pirates of the Caribbean: At World's End,"['Captain', 'Barbossa,', 'long', 'believed', '..."
2,206647,Spectre,"['A', 'cryptic', 'message', 'from', 'Bondâ€™s', ..."
3,49026,The Dark Knight Rises,"['Following', 'the', 'death', 'of', 'District'..."
4,49529,John Carter,"['John', 'Carter', 'is', 'a', 'war-weary,', 'f..."

In [72]:
new_df['tags'][0]

"['In', 'the', '22nd', 'century,', 'a', 'paraplegic', 'Marine', 'is', 'dispatched', 'to', 'the', 'moon', 'Pandora', 'on', 'a', 'unique', 'mission,', 'but', 'becomes', 'torn', 'between', 'following', 'orders', 'and', 'protecting', 'an', 'alien', 'civilization.'] Action cultureclash SamWorthington ZoeSaldana SigourneyWeaver JamesCameron"

In [75]:
# Check if the value is a string before applying lower() method
new_df['tags'] = new_df['tags'].apply(lambda x: x.lower() if isinstance(x, str) else x)

C:\Users\amazi\AppData\Local\Temp\ipykernel_5372\3033938819.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(lambda x: x.lower() if isinstance(x, str) else x)

In [76]:
new_df['tags'][0] # all letters are now in lower-case

"['in', 'the', '22nd', 'century,', 'a', 'paraplegic', 'marine', 'is', 'dispatched', 'to', 'the', 'moon', 'pandora', 'on', 'a', 'unique', 'mission,', 'but', 'becomes', 'torn', 'between', 'following', 'orders', 'and', 'protecting', 'an', 'alien', 'civilization.'] action cultureclash samworthington zoesaldana sigourneyweaver jamescameron"

In [77]:
new_df.head()

,movie_id,title,tags
0,19995,Avatar,"['in', 'the', '22nd', 'century,', 'a', 'parapl..."
1,285,Pirates of the Caribbean: At World's End,"['captain', 'barbossa,', 'long', 'believed', '..."
2,206647,Spectre,"['a', 'cryptic', 'message', 'from', 'bondâ€™s', ..."
3,49026,The Dark Knight Rises,"['following', 'the', 'death', 'of', 'district'..."
4,49529,John Carter,"['john', 'carter', 'is', 'a', 'war-weary,', 'f..."

### Now the 'tag' column will be used in the recommendation system, it contains the following data (in order) :

* Overview (Short summary of the movie)
* Genres (Type of movie)
* Keywords
* Cast (3 lead actors)
* Crew (Name of Director)

### Text Vectorization

In [80]:
from sklearn.feature_extraction.text import CountVectorizer

In [82]:
# Replace NaN values with an empty string
new_df['tags'] = new_df['tags'].fillna('')

# Initialize CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

# Convert 'tags' column to array of strings and then fit_transform
vectors = cv.fit_transform(new_df['tags'].astype(str)).toarray()

C:\Users\amazi\AppData\Local\Temp\ipykernel_5372\1013048457.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].fillna('')

### Stemming Process

In [83]:
import nltk #for stemming process

In [84]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [85]:
#defining the stemming function
def stem(text):
    y=[]
    
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [86]:
new_df['tags'] = new_df['tags'].apply(stem) #appplying stemming process on tags column

C:\Users\amazi\AppData\Local\Temp\ipykernel_5372\1870752014.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tags'] = new_df['tags'].apply(stem) #appplying stemming process on tags column

### Similarity Measure Between Movies

##### For calculating similarity, the cosine distance between different vectors will be used.

In [87]:
from sklearn.metrics.pairwise import cosine_similarity

In [88]:
similarity = cosine_similarity(vectors)

### Recommendation Function

In [89]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

### Making The Recommendation

In [90]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    movies_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:6]
    
    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [91]:
recommend('Avatar')  #enter movies only which are in the dataset, otherwise it would result in error

Apollo 18
Tears of the Sun
The Adventures of Pluto Nash
Beowulf
The Book of Life

### Exporting The Model

In [92]:
import pickle

In [93]:
# pickle.dump(similarity,open('similarity.pkl','wb')) #contains the similarity measure betweendifferent movies based on the tags